body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

#content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    color: #333;
}

.intro {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.intro img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.intro p {
    margin-left: 20px;
    font-size: 18px;
    color: #555;
}

.features {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  .feature {
    flex-basis: calc(33.33% - 20px);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .feature:hover {
    transform: translateY(-10px);
  }
  
  .feature img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .feature h2 {
    margin-top: 15px;
    font-size: 24px;
    color: #333;
  }
  
  .feature p {
    margin-top: 10px;
    font-size: 16px;
    color: #777;
  }

footer {
    text-align: center;
    margin-top: 40px;
}

footer p {
    font-size: 14px;
    color: #888;
}

.navbar {
    width: 30vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
    background-color: whitesmoke;
    
    padding: 10px;
  }

  .navbar a {
    width: 10vw;
    color: #333;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0px 5px;
    border: 2px solid transparent;
    border-radius: 5px;
  }

  .navbar a:hover {
    background-color: #555;
  }

  .active {
    background-color: aqua;
    border-color: darkcyan;
  }
  
  .contact {
    text-align: center;
    margin-top: 40px;
}

.contact h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.contact p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.contact-form {
    max-width: 30vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea {
    display: block;
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    display: inline-block;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #555;
}